@model FigureOptionFormViewModel
@{
    ViewBag.Title = $"Edit Option for {Model.FigureName}";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<partial name="_FigureOptionFormPartial" model="@Model" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}