@model UserTableViewModel
<tr>
	<td>@Model.Email</td>
	<td>@Model.MyTotalNumberOfFigures</td>
	<td>@Model.MyTotalNumberOfVerseChoreographies</td>
	<td>@Model.MyTotalNumberOfFullChoreographies</td>
</tr>
