@model VerseChoreographyFormViewModel
@{
	ViewBag.Title = "Create a Verse Choreography";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<partial name="_VerseChoreographyFormPartial" model="@Model" />

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}