@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Choreography Builder</h1>
    <p>This is the place where you can add all your dance figures and build choreographies from them. </p>
    <p>You can build choreographies for a verse by selecting the verse type and saving from the suggestions whichever choreographies you like.</p>
    <p>You can order your saved verse choreograhies to create a full choreography.</p>
</div>
