@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h2 class="text-center">@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-4 offset-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4 class="text-center">Create a new user.</h4>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" id="email" />
                <label asp-for="Input.Email" class="form-label text-black"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" id="password" />
                <label asp-for="Input.Password" class="form-label text-black"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" id="confirmPassword" />
                <label asp-for="Input.ConfirmPassword" class="form-label text-black"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="btn btn-warning mb-2 w-100 p-3 fw-bold">Register</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
