@model FullChoreographyVerseChoreographyFormViewModel
@{
    ViewBag.Title = "Add a Verse Choreography";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<partial name="_FullChoreographyVerseChoreographyFormPartial" model="@Model" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}